@using MedCentr.Models.Model
@model IEnumerable<MedCentr.Models.Model.Requests_for_attachment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br/>
<div class="container" id="Med_Organizations_container">
    <select class="form-control" id="Med_Organizations_select">
        @foreach (var medOrganization in new Medical_DbEntities().Med_Organizations.ToList())
        {
            <option value="@medOrganization.Med_Organization_Id">@medOrganization.Name</option>
        }
    </select>
</div>
<br />
<div class="container" id="PatientsTableContainer">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreationg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTreatments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QueryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.FirstName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfCreationg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTreatments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QueryStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Requests_for_attachment_Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Requests_for_attachment_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Requests_for_attachment_Id })
                </td>
            </tr>
        }

    </table>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#Med_Organizations_select').change(function (e1) {
                $.post('@Url.Action("GetPatientsByMedId", "RequestsForAttachment")?medId='+$('#Med_Organizations_select').val(), null, function(e) {
                    $("#PatientsTableContainer").empty();
                        $('#PatientsTableContainer').append(e);
                    });
                   
                
            });
        });
    </script>
}
